<h1>index</h1>
<hr>

<div class="row">

  <div class="col-xs-6">
    <form action="/create_store" method="post">
      <label for="store_name">New Store: </label>
      <input type="text" name="store_name">
      <button class="btn btn-success" type="submit">Save Store</button>
    </form>
    <%# SHOW ERRORS IF NOT VALID NAME %>
    <% if (defined?(@new_store) != nil) %>
      <% if @new_store.errors.any? %>
        <% @new_store.errors.full_messages.each do |msg| %>
          <h5 class="red"><%= msg %></h5>
        <% end %>
      <% end %>
    <% end %>
    <br>
    <h3>Active Stores:</h3>
      <% @all_stores.each do |store| %>
        <ul>
          <li><a href="/stores/<%= store.id %>"><%= store.name %></a></li>
        </ul>
      <% end %>
  </div>


  <div class="col-xs-6">
    <form action="/create_brand" method="post">
      <label for="brand_name">New Brand: </label>
      <input type="text" name="brand_name">
      <button class="btn btn-info" type="submit">Save Brand</button>
    </form>
    <br>
    <h3>Current Brands:</h3>
      <% @all_brands.each do |brand| %>
        <ul>
          <li><a href="/brands/<%= brand.id %>"><%= brand.name %></a></li>
        </ul>
      <% end %>
  </div>

</div>
